/* estilo general */
* {
    margin: 0;
    padding: 0;
  }
  
  body {
    background: linear-gradient(to top, #e0eafc, #cfdef3);
  }
  
  /* estilo Contacto */
main .container {
    flex-wrap: nowrap;
    background: #E64D19;
    margin: 3em 15%;
    height: auto;
    width: auto;
    padding: 1rem;
    margin-bottom: 7rem;
  }
  main .contacto__formulario {
    font-family: "Josefin Sans", sans-serif;
    font-size: 1rem;
    color: #FFEBCD;
    padding: 0.5em;
    margin: 0.5em;
  }
  main .form-check {
    padding: 0.5rem;
  }
  main button {
    margin: 0.5rem;
    font-family: "Josefin Sans", sans-serif;
    font-size: 0.9rem;
  }
  main .btn {
    color: #E64D19;
    background-color: #FFEBCD;
  }
  
 /* estilo carousel */
  main img {
    height: auto;
    width: 75%;
    padding: 1rem;
  }
  

  /* estilo footer */
footer div {
    background-color: #E64D19;
  }
  footer div .pieDePagina {
    margin: 1rem;
    padding: 1rem;
  }
  footer div .pieDePagina__texto {
    font-family: "Josefin Sans", sans-serif;
    font-style: italic;
    font-size: 12px;
    color: #FFEBCD;
    font-weight: bolder;
    padding-top: 3em;
    padding-left: 2em;
  }
  footer div i {
    color: #FFEBCD;
    padding: 0.5rem;
  }
  